.hoverable {
  cursor: pointer;
  transition-duration: .3s;
}

.hoverable:hover {
  opacity: .5;
}

.info {
  height: 2.5rem;
  margin-top: -100px;
  width: 100%;
  color: #fafbfc;
  text-align: center;
  display: flex;
  position: absolute;
  padding: 7px;
  top: 0;
  z-index: 50;
  transition-duration: .5s;
  border-radius: 0;
}

form {
  max-width: 500px;
}

.hidden {
  display: none;
}

.a {
  color: #0d6efd;
  text-decoration: underline;
}

table.clickable tr {
  cursor: pointer;
}
  
.info p {
  margin: auto;
}

#info.notice {
  background-color: #4299e1;
}

#info.alert {
  background-color: #f16135;
}